/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
.flex {
  display: flex !important;

  &-reverse {
    flex-direction: row-reverse !important;
  }

  &-col {
    flex-direction: column !important;
  }

  &-col-reverse {
    flex-direction: column-reverse !important;
  }
}

ul,
ol {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}
.datepicker {
  &-container {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    // background-color: aqua;
    padding: 15px;
    border-radius: 10px;
  }
  &-scroll {
    height: 220px;
    padding: 15px 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
    white-space: nowrap;
    background-color: #071a52;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &-curr {
    color: yellowgreen;
    padding: 5px;
    border-radius: 2px;
  }
}
.date-item {
  margin: 10px 0;
  background-color: #e2f3f5;
  color: #575151;
  padding: 5px 10px;
  border-radius: 5px;
  font-family: "Inter", sans-serif;

  &.active {
    background-color: #17b978 !important;
    color: white !important;
  }
}

.action-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px auto;
}

.action-btn {
  background-color: #e2f3f5;
  color: #575151;
  outline: none;
  border: none;
  padding: 7px 20px;
  width: 40%;
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
}

.wrapper {
  max-width: 250px;
  background-color: #071a52;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  border-radius: 10px;
}
